body {
    background-color: #f5f7f9;
    font-family: Consolas,'微软雅黑';
}

.logo{
    position: absolute;
    top: -2px;
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
/**===================================navbar===============================*/
.navbar-inverse{
    background-color: #a5adb3;
    color: white;
    border: 1px rgba(251, 244, 255, 0.25) solid;
}

.navbar-inverse .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #a5adb3
}
.dropdown-menu{
    background-color: #a5adb3;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
    background-color: #a5adb3;
}


/**===================================footer===============================*/
.footer{
    border-top: 2px #a5adb3 dashed;
    padding: 10px;
}

.footer-item{
    padding: 5px;
    color: #c0d0ed;
}

.footer-item a {
    color: #d2d2d2;
}

table {
    word-wrap: break-word;
}

div {
    word-wrap: break-word;
}

/**===================================index===============================*/
.index-bg {
    background-color: #dde7ed;
    height: 200px;
}

.search-box {
    padding: 50px;
}
.search-input{
    font: 200 25px "microsoft yahei";
    height: 40px;
    border: 0;
    padding: 0 12px;
    margin: 0;
    box-shadow: none !important;
}
.btn-create {
    width: 200px;
    height: 50px;
    background-color: #dde7ed;
    border-radius: 0;
    line-height: 35px;
    font-size: 20px;
    font-weight: lighter;
}
.btn-create:hover{
    color: white;
    background: #a5adb3;
}
.btn-level {
    width: 100px;
    height: 50px;
    background-color: #dde7ed;
    border-radius: 0;
    line-height: 35px;
    font-size: 20px;
    font-weight: lighter;
}

.recommend-box {
    margin-top: 50px;
}

.level-box {
    color: white;
    display: flex;
}

.level-box a {
    text-decoration: none;
}

.level-menu-item {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 46px;
    display: block;
    height: 46px;
    padding: 0 25px;
    text-align: center;
    color: #6a6a6a;
}

.level-menu-item.active, .level-menu-item:hover {
    color: #dde7ed;
    border-bottom: 2px #dde7ed solid;
}

.qa-box {
    background-color: white;
    margin-top: 10px;
}

.qa-list-group {
    margin-top: 20px;
}

.qa-list-group-item {
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px rgba(255, 0, 0, 0.13) dashed;
}

.label {
    border-radius: 0;
    font-weight: 100;
}

.q-name {
    font-size: 18px;
    color: rgba(255, 66, 60, 0.79);
}

.q-author {
    padding: 5px;
    font-size: 13px;
    color: #6a6a6a;
}

.q-time {
    padding: 5px;
    font-size: 10px;
    color: #6a6a6a;
}

.img-avatar {
    padding: 2px;
    width: 50px;
    height: 50px;
}

/**===================================addQa page===============================*/

.add-title-wrapper{
    padding-bottom: 10px;
    border-bottom: 2px #a5adb3 dashed;
    margin-bottom: 20px;
}
.add-title{
    font: 200 25px "microsoft yahei";
    height: 40px;
    border: 0;
    padding: 0 12px;
    margin: 0;
    box-shadow: none !important;
}

.add-page-button-wrapper{
    margin-top: 15px;
}

.post-button{
    padding-left: 20px;
    padding-right: 20px;

}