.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    /*padding: 0;*/
    background-color: #2c353a;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.sidebar-head{
    width: 100%;
    padding: 20px;
    background-color: #284356;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    background-color: #2c353a;
    /*padding: 20px;*/
}

.sidebar li {
    /*border-top: 1px solid #f3f3f3;*/
}

.sidebar li a {
    color: #a0a4a6;
}

.sidebar li .caret {
    margin-top: 9px;
}

.sidebar li i {
    margin-right: 15px;
}

.sidebar .nav-header {
    padding: 20px;
    background-color: #38a6a6;
}

.sidebar .nav > li[class*=active] > a {
    background-color: #00acac;
    color: #a0a4a6;
}

.sidebar .nav > li > a {
    padding: 5px 6px;
    border-bottom: 1px solid #38a6a6;
}

.sidebar .sidebar-top .nav {
    width: 220px;
}

.sidebar .sidebar-top .nav {
    position: relative;
    top: 30px
}
/*左侧点击之后改变的颜色*/
.sidebar .sidebar-top .nav > li[class*=active] > a {
    background-color: #00acac;
    color: #ffffff;
}

.sidebar .sidebar-top .nav > li > a {
    padding: 5px 6px;
    border-bottom: 1px solid #2c353a;
}
.sidebar .sidebar-top.nav.dropdown{
    background-color: #2c353a;
}
.sidebar .sidebar-top.nav.dropdown.dropdown-toggle.a:hover{
    display: none;
}
.sidebar .sidebar-bottom .nav {
    width: 220px;
}

.sidebar .sidebar-bottom .nav {
    position: fixed;
    bottom: 0
}

.sidebar .sidebar-bottom .nav > li[class*=active] > a {
    background-color: #00acac;
    color: #ffffff;
}

.sidebar .sidebar-bottom .nav > li > a {
    padding: 5px 6px;
    /*border-bottom: 1px solid #e5e5e5;*/
}

.sidebar .sub-menu {
    display: none;
}

.sidebar .sub-menu li:hover {
    background-color: #38a6a6;
}

.sidebar .sub-menu li a {
    padding: 15px 30px;
    text-decoration: none;
    display: block;
    background-color: #38a6a6;
}

.sidebar .sub-menu li[class*=active] > a {
    color: #00acac !important;
}

.sidebar .sub-menu li:active > a {
    color: #00acac !important;
}

.sidebar-bottom {
    position: fixed;
    bottom: 0
}
.sidebar-top.nav.dropdown.dropdown-toggle span{
    color:#fff !important;
}
