<div class="container" ng-controller="addQuestionController">

    <div class="row" style="margin: 60px">
        <div class="col-md-12">
            <div class="add-title-wrapper">
                <input type="text" class="form-control add-title" ng-model="title"  placeholder="Qa">
            </div>
            <mdeditor text="text" shortcut='shortcut' class-names='classNames' theme='default' toolbar='toolbar'></mdeditor>
            <div class="pull-right add-page-button-wrapper">
                <a class="" ui-sref="app.index" >返回</a>&nbsp;&nbsp;
                <a class="btn btn-success  post-button" ng-click="addQa()">确认提问</a>
            </div>
        </div>
    </div>
</div>