<div class="container" ng-controller="addQuestionController">

    <div class="row" style="margin: 60px">
        <div class="col-md-12">
            <input type="text" style="width: 100%;height: 40px;font-size: 20px" placeholder="请输入问题名称">
            <mdeditor text="text" shortcut='shortcut' class-names='classNames' theme='bespin' toolbar='toolbar'></mdeditor>
            <div class="pull-right">
                <a class="btn btn-warning  btn-lg" ui-sref="app.index" ><i class="fa fa-reply"></i>&nbsp;返回</a>
                <a class="btn btn-success  btn-lg" ><i class="fa fa-save"></i>&nbsp;发表</a>
            </div>
        </div>
    </div>
</div>