
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron index-bg">
            <div class="container search-box">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="input-group">
                            <input class="col-sm-12 form-control search-input" placeholder="search" type="text">
                            <div class="input-group-addon" style="border: 0;padding: 0">
                                <button class="btn btn-block " style="height: 40px"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-controller="IndexController">
    <div class="row">
        <div class="col-md-9">

            <nav class="col-md-12 level-box">
                <a class="level-menu-item" ng-class="{'active':config.nowLevel==1}" ng-click="changeItems(1)">技术</a>
                <a class="level-menu-item" ng-class="{'active':config.nowLevel==2}" ng-click="changeItems(2)">业务</a>
                <a class="level-menu-item" ng-class="{'active':config.nowLevel==3}" ng-click="changeItems(3)">框架</a>
                <a class="level-menu-item" ng-class="{'active':config.nowLevel==4}" ng-click="changeItems(4)">生活</a>
            </nav>
            <div class="col-md-12 qa-box list-group">
                <div class="container-fluid">
                    <qaitems qas="qas"></qaitems>
                </div>
            </div>
        </div>
        <div class="col-md-3">

            <a class="btn btn-default btn-create" ui-sref="app.addQuestion"><i class="fa fa-plus"></i>&nbsp;Add Qa</a>
            <div class="recommend-box">
                <h4>Least</h4>
                <hr/>
                <div ng-click="showDetail(item.id)"  class="col-md-12 qa-list-group-item" ng-repeat="item in leastQa">
                    {{item.title}}
                </div>
            </div>
        </div>
    </div>
</div>
