<!-- begin #header -->
<div ng-include src="'template/simpleheader.html'"></div>
<!-- end #header -->
<div class="container-fluid" ng-controller="LoginController">

    <div class="col-md-offset-4 login-content col-md-4">
        <h3 align="center">QA</h3>
        <ng-form name="loginForm" class="login-form" novalidate>
            <div class="form-group text-center text-danger"
                 ng-class="{ 'has-error': loginForm.account.$invalid && !loginForm.account.$pristine }">
               {{errorMsg}}
            </div>
            <div class="form-group m-b-15"
                 ng-class="{ 'has-error': loginForm.account.$invalid && !loginForm.account.$pristine }">
                <input type="text" name="account" ng-model="loginRequest.name" class="form-control input-lg"
                       placeholder="用户账号" required />
            </div>
            <div class="form-group m-b-15"
                 ng-class="{ 'has-error': loginForm.password.$invalid && !loginForm.password.$pristine }">
                <input type="password" name="password" ng-model="loginRequest.password" class="form-control input-lg"
                       placeholder="登录密码" required/>
            </div>
            <div class="login-buttons" align="center">
                <button type="submit" ng-click="login($event)" class="btn  btn-block btn-lg btn-login"
                        ng-disabled="loginForm.$invalid">登录
                </button>
            </div>
            <hr/>
            <p class="text-center text-inverse">
                &copy; 2017 whulala 版权所有
            </p>
        </ng-form>
    </div>
</div>
