<footer id="footer" class="footer hidden-print">
    <div class="container text-center">
        <div class="footer-item">
            <i class="fa fa-flag"></i> QA-System
            <span class="hide-xs">·</span><br class="hide-sm hide-md hide-lg">
            作者 <a href="https://github.com/wuhulala">wuhulala</a>
        </div>
        <div class="footer-item">
            代码遵循 <a href="http://opensource.org/licenses/mit-license.html">MIT协议</a>
            <span class="hide-xs hide-sm">·</span>
        </div>

        <div class="footer-item">
            <a href="https://github.com/wuhulala/qa-web">GitHub项目</a> ·
            <a href="https://github.com/wuhulala/qa-web">问题与建议</a>
        </div>
    </div>
</footer>